<div class="row uniform">
<div class="12u">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
</div>
</div>
<div class="row uniform"><div class="12u">{{ form.non_field_errors }}</div></div>
<div class="row uniform paddedsides">{% csrf_token %}

    <div class="4u">
        <label for="{{ form.name.id_for_label }}">Taxon:</label>
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="4u">
        <label for="{{ form.rank.id_for_label }}">Rank:</label>
        {{ form.rank }}
        {{ form.rank.errors }}
    </div>
    <div class="4u">
        <label for="{{ form.parent.id_for_label }}">Parent:</label>
        {{ form.parent }}
        {{ form.parent.errors }}
    </div>
</div>
<div class="row uniform paddedsides">
    <div class="4u">
        <label for="{{ form.ref.id_for_label }}">Reference:</label>
        {{ form.ref }}
        {{ form.ref.errors }}
    </div>

    <div class="4u">
        <label for="{{ form.extant.id_for_label }}">Extant?:</label>
        {{ form.extant }}
        {{ form.extant.errors }}
    </div>
    <div class="4u">
        <label for="{{ form.commonName.id_for_label }}">Common Name:</label>
        {{ form.commonName }}
        {{ form.commonName.errors }}
    </div>

</div>
<div class="row uniform">
    <div class="2u"></div>
    <div class="8u">
        <ul class="actions">
            <li><input type="submit" value="Submit" class="special button big" /></li>
        </ul>
    </div>
    <div class="2u"></div>
</div>