.messages {
    list-style-type: none;
    text-align: center;
}

.success {
    background-color: #36c50e;
    color:white;
    list-style-type: none;
    border-radius: 3px;
}

.warning {
    color:#000000;
    list-style-type: none;
    border-radius: 3px;
    background-color: #FFFF00;;
}

.errorlist{
    color: #c50a01;
    list-style-type: none;
}

.nonfield, .error {

    background-color: #c50a01;
    color: white;
    list-style-type: none;
    border-radius: 3px;
}

.paddedsides {
    padding-left:25px;
    padding-right:25px;
}

tr:hover td {
   background-color: #4696e5;
   color: white;
}

thead td {
    font-weight:bold;
}